@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.mainContainer{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & .title{
        font-family: "Orbitron";
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: .25rem;
        color: var(--card-hover);
    }
}