<div class="mainContainer">
  <div class="gridContainer">
    @for (card of gameService.pairedList; track $index) {
    <div
      class="card"
      (click)="check($index)"
      [class.clicked]="gameService.clickedCards.includes($index)"
      [class.matched]="gameService.matchedCards.includes($index)"
    >
    @if (gameService.matchedCards.includes($index) || ( gameService.clickedCards.includes($index) )) {
      {{ gameService.pairedList[$index] }}
    }@else if (gameService.fadeCards.includes($index)) {
      {{ gameService.pairedList[$index] }}
    }
    </div>
    }
  </div>
</div>
